replicaCount: 1

collector:
  config:
    receivers:
      otlp:
        protocols:
          grpc:
          http:
    exporters:
      logging:
    service:
      pipelines:
        traces:
          receivers: [otlp]
          exporters: [logging]
